.container {
  max-width: 200px;
  background-color: #000;
  padding: 20px;
}

.display {
  text-align: right;
  color: #fff;
}

.buttonsContainer {
  display: flex;
}

.digitsContainer {
  width: 150px;
}

.button {
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 4px;
  font-weight: bold;
}

.topOperationsContainer {
  flex-direction: column;
}

.topOperation {
  background: rgba(255, 255, 255, 0.8);
  color: #000;
}

.rightOperationsContainer {
  display: inline;
}

.rightOperation {
  background: orange;
  color: #fff;
}

.digit {
  background: rgba(255, 255, 255, 0.4);
  color: #fff;
}
